
/* =====================================================
   RESPONSIVE MEDIA QUERIES
===================================================== */

/* ---------- TABLET ---------- */
@media (max-width: 991px) {

  .middle {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  nav ul {
    flex-wrap: wrap;
    gap: 15px;
  }

  .hero-section,
  .gallery-section {
    flex-direction: column;
  }

  .hero-left,
  .hero-right img {
    min-height: 450px;
  }
   .hero-right img {
  display: none;
   }
  .gallery-left img {
    height: 400px;
  }
}

/* ---------- MOBILE ---------- */
@media (max-width: 767px) {

  /* Hide hero image */
  .hero-right {
    display: none;
  }

  /* Hero becomes single column */
  .hero-section {
    min-height: auto;
  }

  .hero-left {
    min-height: 70vh;
    padding: 30px 20px;
    align-items: center;
    text-align: center;
  }

  .luxury-text {
    font-size: 32px;
  }

  .subtitle {
    font-size: 14px;
  }

  .hero-btn,
  .hero-btn-1 {
    width: 90%;
    font-size: 14px;
  }

  .gallery-section {
    padding: 30px;
  }

  .gallery-right {
    grid-template-columns: 1fr;
  }

  .product-card {
    width: 90%;
  }

  .footer-container {
    flex-direction: column;
  }
}

/* ---------- SMALL MOBILE ---------- */
@media (max-width: 575px) {

  .upper {
    font-size: 13px;
  }

  nav ul {
    flex-direction: column;
  }

  .luxury-text {
    font-size: 26px;
  }

  .hero-left {
    min-height: 60vh;
  }
   .hero-right img {
  display: none;
   }
}


